.player_container{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width:100% ;
    z-index: 1;
}
.player_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    margin-bottom: .2rem;
    border-radius: 15px;
	border: 2px solid var(--c-gray-900);
	justify-content: space-between;
	padding: .1rem;
	background-color: var(--c-blue-500);
    color: #fff;
}
.player_player{
    cursor: pointer;
}
.player_boton{
    width: 35px;
    background-color: var(--c-blue-500);
    border: none;
    cursor: pointer;
}
.player_icon{
    font-size: 2.5rem;
}

.img_container{
    display: flex;
    width: 100%;
}
.img_figure{
    padding: .3rem;
}
.img_image{
    width: 60px;
    height: 60px;
}

.img_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_tittle{
    font-size: 1rem;
}
.img_text{
    font-size: .8rem;
}

.range{
    height: 8px;
    background: #fff;
    outline: none;
    border-radius: 15px;
    appearance: none;
    overflow: hidden;
    margin-right: .5rem;
}

.range::-webkit-slider-thumb{
    appearance: none;
    width: 1px;
    height: 1px;
    background: #111;
    border-radius: 50%;
    box-shadow: -67px 0 0 66px #111 ;
    cursor: pointer;
}

.volume_icon{
    background-color: var(--c-blue-500);
    border: none;
    font-size: 1.2rem;
    margin-right: .5rem;
    display: flex;
}
.slider{
    display: flex;
    align-items: center;
}

@media screen and (max-width:800px){
    .player_content{
        margin-bottom: 5.7rem;
        background-color: var(--c-blue-300);
        color: #111;
    }
    .player_boton{
        background-color: var(--c-blue-300);
    }
}